body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div {
  background-color: #fff;
  padding: 40px;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

div.button-wrapper {
  text-align: center;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #333;
}
